/* Background for the entire page */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #121212;
  color: #e0e0e0;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
}

.auth-form {
  background-color: #1e1e1e;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.auth-form h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  color: #e0e0e0;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #bbbbbb;
}

.form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #2b2b2b;
  color: #e0e0e0;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #007bff;
  outline: none;
}

.btn-submit, .btn-logout {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.btn-submit:hover, .btn-logout:hover {
  background-color: #0056b3;
}

.auth-form p {
  margin-top: 20px;
  color: #bbbbbb;
}

.auth-form p a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.auth-form p a:hover {
  color: #0056b3;
  text-decoration: underline;
}
