.dashboard {
  display: flex;
  flex-direction: column; /* Ensure header and content stack vertically */
  height: 100vh; /* Make sure the dashboard takes full height of the viewport */
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 0; /* Ensure content stays to the right of the sidebar */
  transition: margin-left 0.3s ease; /* Smooth transition for content shift */
}

.Devices-List {
  display: flex;
  flex-wrap: wrap; /* Ensure devices wrap to next line */
  justify-content: left; /* Left align devices */
  padding: 20px;
}

.Devices {
  display: flex;
  flex-wrap: wrap; /* Ensure devices wrap to next line */
  justify-content: left; /* Left align devices */
  padding: 20px;
}
