body.profile-page {
  background-color: #616569;
  background-image: url('../../assets/photo.jpg'); /* Path to your image */
  background-size: cover; /* Ensure the image covers the entire background */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.profile-container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color: #f9ed65d5; 
  border: 2px solid #2f314653; 
  border-radius: 4px; 
  transition: transform 1s ease;
}

.profile-container:hover {
  background-color: #f9ed6587; 
  transform: scale(1.05); 
}

.text-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
  justify-content: space-between;
  width: 100%;
}

.text-left, .text-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-left p, .text-right p {
  margin: 5px 0;
}

.text-right {
  padding-left: 20px;
  color: rgb(111, 110, 110);
}

.text-left{
  color: rgba(0, 0, 0, 0.624);
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  color: rgb(215, 215, 215);
}

.avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%; 
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-profile-button {
  background-color: rgb(113, 147, 158);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
}

.username-container {
  color: rgb(111, 110, 110);
}