.avatar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.edit-profile-form {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
  min-width: 300px; /* Ensure labels and inputs have enough width */
}

.edit-profile-form label {
  margin-bottom: 10px;
  font-size: 18px;
}

.edit-profile-form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #30363D;
  background-color: #161b22d1;
  color: white;
  outline: none;
  width: 100%; /* Make inputs take full width of their container */
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Align buttons to the end */
  gap: 10px;
}

.save-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.save-button:hover {
  background-color: darkgreen;
}

.remove-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.remove-button:hover {
  background-color: darkred;
}
